---
// Footer component with copyright info
---

<footer class="bg-amber-900 text-white mt-auto py-6 -ml-[calc(100vw-100%)] pl-[calc(100vw-100%)]">
  <div class="container mx-auto px-4">
    <div class="text-center">
      <p>© {new Date().getFullYear()} Themba's Tribe</p>
    </div>
  </div>
</footer>
